html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ******************************************************************************** */
/* CUSTOM STYLES */

.main {
  margin: 0 auto;
  max-width: 400px;
  padding: 0 .9em;
  color:black;
}

.pageHeader {
  text-align: center;
  padding: .7em 0;
  
}

.subHeader {
  margin: 0 0 .4em;
  line-height: 1.3em;
  
}

.description {
  font-size: .9em;
  line-height: 1.3em;
  margin: 0 0 .6em;
}

.section {
  margin: 0 0 1em;
  border-bottom: .1em solid #ccc;
  padding: .3em 0 1em 0;
  color:black;
}

.shortText {
  font-size: 1em;
  line-height: 1.1em;
  margin: 0 0 .4em;
  color:black;
}